body {
    font-family: sans-serif;
}

.card-body-flex {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.class-card {
    height: 250px;
    padding: 20px;
}

.card-list-course-footer {
    display: flex;
}

.card-list-course-footer .stars-rate {
    color: #0056A9;
}

.card-list-course-footer .price {
    align-content: end;
}

.stars-rate-bg {
    background-color: #0056A9;
}